{{#if page.component}}
    <meta name="page-component" content="{{page.component.name}}">
    <meta name="page-version" content="{{page.version}}">
    <meta name="page-url" content="{{page.url}}">
{{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {{!-- Add styles for Antora Navigator menu --}}
    <link rel="stylesheet" href="{{{uiRootPath}}}/css/nav.css">
    <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/light.css">
